{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<div class="container justify-content-center mx-auto">
    <div class="row">
        <div class="col">
            <div id="temp" data-record="{{request.session.temp}}"></div>
            <p class="text-center text-uppercase text-light"> Sync data </p>

            {% if uid %}
                <a href="{% url 'home_page' %}" class="btn btn-primary btn-block" onclick="delHistory()"> Ok </a>
            {% else %}
                <a href="{% url 'home_page' %}" class="btn btn-primary btn-block"> Ok </a>
            {% endif %}
            
        </div>
    </div>
</div>


<script type="text/javascript" src="{% static 'js/sync.js' %}"></script>
{% endblock content %}