{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
    {% for a in dbManga %}
        <div class="col-lg-2 col-4 pt-3">
            <div class="card h-100">
                <a href="{% url 'manga-page-eng' a.link  %}" class="stretched-link"></a>
                <img class= 'card-img-top' src="{{ a.thumbnail_image }}">
                <div class="card-body">
                    <div class="card-text"><strong>{{ a.name|truncatechars:40 }}</strong>
                    <!-- <small class="text-muted"> Latest Chapter : {{ a.chapter }}</small> -->
                    </div>
                </div>
                <!-- <button type ="button" class="btn btn-secondary btn-block"> view </button> -->
            </div>
        </div>
    {% endfor %}
    </div> 
</div>

{% endblock content %}