{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container d-flex justify-content-center mx-auto">

    <div class="row">
        <div class="card">
        <img class="card-img-top" src="{{ cover_img }}" alt="">
        <div class="card-body">
            <p class="card-text"><strong> Summary </strong></p>
            <p class="card-text text-justify">{{ summary }}</p>
            <p class="card-text"><strong> Status : {{status}} </strong></p>
            
        </div>
    

    <ul class="list-group">
        {% for a in manga reversed %}
        <li class="list-group-item"><a href="{% url 'chapter_page_id' manga_name a.link %}">
        {{ a.chapter_name }}</a></li>
        {% endfor %}
    </ul>

    </div>
</div>

{% if uid %}
    <script type="text/javascript" src="{% static 'js/Login_cookies.js' %}"></script>
{% else %}
    <script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
{% endif %}
{% endblock content %}